@import "tailwindcss";

html {
  --clr-neutral-cool-0: #e6e6e6;
  --clr-neutral-cool-50: #dbdbdb;
  --clr-neutral-cool-800: #19181b;
  --clr-neutral-cool-1000: #0e1010;
  --clr-neutral-green-400: #272927;
  --clr-green-200: #70b272;
  --clr-green-400: #58945a;
  --clr-green-700: #478049;
  --clr-green-800: #233b29;

  --font-ibm-plex-mono: "IBM Plex Mono";
  --font-ibm-plex-sans: "IBM Plex Sans";
}

@theme inline {
  --font-body: var(--font-ibm-plex-sans);
  --font-heading: var(--font-ibm-plex-mono);
  --font-button: var(--font-ibm-plex-mono);

  --color-*: initial;
  --color-bg-page: var(--clr-neutral-cool-1000);
  --color-bg-surface: var(--clr-neutral-cool-800);
  --color-bg-link: var(--clr-neutral-green-400);
  --color-brdr-link: var(--clr-green-400);
  --color-brdr-surface: var(--clr-green-800);
  --color-txt-body: var(--clr-neutral-cool-0);
  --color-txt-link: var(--clr-neutral-cool-50);
  --color-txt-link-active: var(--clr-green-200);
  --color-txt-heading-1: var(--clr-green-200);
  --color-txt-heading-2: var(--clr-green-200);

  --text-*: initial;
  /* Scale is a 'major third' scale - geometric with multiplier 1.25, base 18px. */
  --text-0: 0.9rem;
  --text-100: 1.125rem;
  --text-200: 1.406rem;
  --text-300: 1.758rem;
  --text-400: 2.198rem;
  --text-500: 2.7469rem;
  --text-600: 3.4331rem;

  --spacing-*: initial;
  /* Scale is a geometric sequence with multiplier 1.75, base 4px. */
  --spacing-0: 0.25rem;
  --spacing-100: 0.4375rem;
  --spacing-200: 0.7656rem;
  --spacing-300: 1.34rem;
  --spacing-400: 2.345rem;
  --spacing-500: 4.1031rem;
  --spacing-600: 7.1806rem;

  --radius-*: initial;
  --radius-reg: 6px;
}

@utility drop-glow {
  filter: drop-shadow(0 0 2px var(--clr-green-400));
}

@utility box-glow {
  box-shadow:
    0 0 1px var(--clr-green-400),
    inset 0 0 1px var(--clr-green-400);
}

@utility box-glow-divider {
  box-shadow: 0 0 1px var(--clr-green-400);
}
